.new{
   border: solid 2px red;
   background-color: red;
   color: white;
   text-align: center;
}


.about,.paragraph,.contact,.visit,.phone{
    margin-left: 15px;
    
}


.icon{
    margin-left: 35px;
    word-spacing: 35px;
        
}


.copyright{
    border: solid 2px red;
    text-align: center;
    margin-top: 30px;
    background-color: red;
    color: white;
}